[packages]
asgiref = "*"
certifi = "*"
cfgv = "*"
charset-normalizer = "*"
distlib = "*"
Django = "*"
djangorestframework = "*"
packaging = "*"
pandas = "*"
patsy = "*"
platformdirs = "*"
plotly = "*"
plotly-express = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
PyYAML = "*"
pyzbar = "*"
requests = "*"
whitenoise = "*"
gunicorn = "*"